<!DOCTYPE html>
<html>
  <head>
    <title>Public Dictionary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "admin-style" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= link_to "Home", "/", :method => :get %> |
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete if user_signed_in? %>

    <p id="notice" class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
